.resultKey {
  font-size: x-large;
  font-weight: bolder;
  color: green;
}

.resultValue {
  font-size: xx-large;
  font-weight: bolder;
  color: brown;
  margin-left: 5%;
  padding: 5px;
  border: 1px solid brown;
  border-radius: 10px;
}
